<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('./partials/Head.ejs');%>
    </head>
  <body>
    <script src="/scripts/updateCart.js"></script>
    <script src="/scripts/addCart.js"></script>
    <script>
      const add = function (event) {
       alert('Añadido al carrito!')
                 addToCart(event);
               };
     </script>
    <header>
        <%- include('./partials/Header.ejs');%>
    </header>
    <section id="<%- product.name %>" price="<%- product.price %>" image="/images/<%- product.image %>" class="producto">      
      <div class="product-image">        
        <img src="/images/<%- product.image %>" alt="Imagen del producto: <%- product.name %>">
      </div>
      <div class="product-description">
        <h2 class="product-title">AGV PistaGRP</h2>
        <div>
          <p><%- product.description %></p>
        </div>
        <div>
          <p>$<%- product.price %></p>
        </div>          
        <div class="buttons">
          <button onclick='add("<%- product.name %>")'><i class="material-icons">shopping_cart</i></button>
          <button onclick="location.href='/cart';">comprar</button>
        </div>
      </div>  
    </section>
    <footer>
        <footer>
            <%-include('./partials/Footer.ejs');%>
        </footer>
  </body>
</html>
